
.heading{
    font-family: 'Abril Fatface', cursive;
}

/* body{
    background-color: #d2ba9e !important;
} */

.navbar
{
    background-color: inherit !important;
    padding-left: 40px;
    padding-right: 40px;
}

.get-started-button
{
    box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 11px 1px rgba(0,0,0,0.75);
}




.table-heading{
    letter-spacing: 2px;
    color: #e9e1d3;
}

.admin-pro-button{
    margin-left: 30%;
    width: 40%;
    background-color: #e9e1d3 !important;
}

.AddProduct{
    background-color: #1b1b1b;
    margin: 7% !important;
    /* text-align: center !important;  */
     /* align-items: center !important; */
} 

.new-pro-form{
    color: seashell ;
    padding: 5%;
}

.new-pro-form-boxes{
    background-color: #816E7C !important;
    border-radius: 0 !important;
    border: #816E7C !important;
    color: white !important;
    padding: 5% !important;}

    .upload-pics{
        background-color: #e9e1d3 !important ;
        color:#383838 !important ;
        border: none !important;
    }

